.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    margin: auto;
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 4px;
}

.input, .textarea{
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
        
}
.formGroup{
    display: flex;
    flex-direction: column;
    gap: 2px;
}